formationdatafactorymorgane/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nom de fabrique de données",
			"defaultValue": "formationdatafactorymorgane"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SrcData9')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FileServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "jeu9.csv"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "id_ej",
						"type": "String"
					},
					{
						"name": "finess",
						"type": "String"
					},
					{
						"name": "rs",
						"type": "String"
					},
					{
						"name": "adresse",
						"type": "String"
					},
					{
						"name": "cpl_loc",
						"type": "String"
					},
					{
						"name": "do_prel",
						"type": "String"
					},
					{
						"name": "do_antigenic",
						"type": "String"
					},
					{
						"name": "longitude",
						"type": "String"
					},
					{
						"name": "latitude",
						"type": "String"
					},
					{
						"name": "mod_prel",
						"type": "String"
					},
					{
						"name": "public",
						"type": "String"
					},
					{
						"name": "horaire",
						"type": "String"
					},
					{
						"name": "horaire_prio",
						"type": "String"
					},
					{
						"name": "check_rdv",
						"type": "String"
					},
					{
						"name": "tel_rdv",
						"type": "String"
					},
					{
						"name": "web_rdv",
						"type": "String"
					},
					{
						"name": "date_modif",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copie des 6 premiers jdd.",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "dateRep",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dateRep",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "day",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "deaths",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "deaths",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "countriesAndTerritories",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countriesAndTerritories",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "geoId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "geoId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "countryterritoryCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "countryterritoryCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "popData2019",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "popData2019",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "continentExp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "continentExp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cumulative_number_for_14_days_of_COVID-19_cases_per_100000",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcData1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarData1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "YearWeekISO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "YearWeekISO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FirstDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "FirstDoseRefused",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FirstDoseRefused",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SecondDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SecondDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "UnknownDose",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "UnknownDose",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NumberDosesReceived",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NumberDosesReceived",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ReportingCountry",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportingCountry",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TargetGroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TargetGroup",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Vaccine",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Vaccine",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Denominator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Denominator",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcData2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarData2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "indicator",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "value",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "url",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcData3",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarData3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data4",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data3",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "level",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "region_name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tests_done",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "positivity_rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "testing_data_source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcData4",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarData4",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data5",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data4",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Response_measure",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_start",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_end",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcData5",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarData5",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data6",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data5",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "country_code",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "year_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "age_group",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "new_cases",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "population",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rate_14_day_per_100k",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "source",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcData6",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarData6",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "3 jeux de données complémentaires",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "dep",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dep",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "sexe",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "sexe",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "jour",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "jour",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "hosp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hosp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rea",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rea",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "HospConv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HospConv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SSR_USLD",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SSR_USLD",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "autres",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "autres",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rad",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rad",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "dc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dc",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcData7",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarData7",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "gid",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "gid",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "nom",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "nom",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "arrete_pref_numero",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "arrete_pref_numero",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "xy_precis",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "xy_precis",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "id_adr",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id_adr",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "adr_num",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "adr_num",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "adr_voie",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "adr_voie",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "com_cp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "com_cp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "com_insee",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "com_insee",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "com_nom",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "com_nom",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "lat_coor1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "lat_coor1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "long_coor1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "long_coor1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_siren",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_siren",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_type",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_rais",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_rais",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_num",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_num",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_voie",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_voie",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_cp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_cp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_insee",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_insee",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "structure_com",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "structure_com",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_userid_creation",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_userid_creation",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_userid_modification",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_userid_modification",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "_edit_datemaj",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "_edit_datemaj",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "lieu_accessibilite",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "lieu_accessibilite",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_lundi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_lundi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_mardi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_mardi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_mercredi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_mercredi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_jeudi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_jeudi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_vendredi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_vendredi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_samedi",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_samedi",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_dimanche",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_dimanche",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_fermeture",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_fermeture",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_ouverture",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_ouverture",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_site_web",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_site_web",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_tel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_tel",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_tel2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_tel2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_modalites",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_modalites",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rdv_consultation_prevaccination",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rdv_consultation_prevaccination",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "centre_svi_repondeur",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "centre_svi_repondeur",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "centre_fermeture",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "centre_fermeture",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "reserve_professionels_sante",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "reserve_professionels_sante",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcData8",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarData8",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "id_ej",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "id_ej",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "finess",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "finess",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "rs",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "rs",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "adresse",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "adresse",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cpl_loc",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "cpl_loc",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "do_prel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "do_prel",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "do_antigenic",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "do_antigenic",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "longitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "latitude",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "mod_prel",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "mod_prel",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "public",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "public",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "horaire",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "horaire",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "horaire_prio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "horaire_prio",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "check_rdv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "check_rdv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "tel_rdv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tel_rdv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "web_rdv",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "web_rdv",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "date_modif",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "date_modif",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SrcData9",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "TarData9",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SrcData9')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "combinaison pipeline1 et pipeline2",
				"activities": [
					{
						"name": "Execute Pipeline1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Pipeline1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Execute Pipeline2",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Execute Pipeline1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "pipeline2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Pipeline1')]",
				"[concat(variables('factoryId'), '/pipelines/pipeline2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "pipeline3",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 5,
						"startTime": "2021-03-22T14:44:00",
						"endTime": "2021-03-22T17:00:00",
						"timeZone": "Romance Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pipeline3')]"
			]
		}
	]
}